.header {
    width: 100%;
    z-index: 9999;
    background-color: $white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    &-sticky {
        position: sticky;
        top: 0;
        left: 0;
    }

    &-logo {
        /*use this to change the properties of logo visible in header*/
    }

}

.menu-container {
    padding: 22px;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    &-item {

        &-link {
            display: block;
            padding: 10px 18px;
            color: $grey;
            font-weight: 400;
            font-size: 1rem;

            &:hover {
                color: $blue;
            }
        }
    }
}

.mobile-header-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: $blue;

    @mixin mediumScreen {
        display: none;
    }
}